<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
   <!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <!--<link href="css/simple-sidebar.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="/"> <!--class="sidebar-brand"-->
                        LED Wall Calculator
                    </a>
                </li>
                <li>
                    <t>________________________________</t>
                </li>
                <li>

                 <%if user_signed_in?%> 
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete%></t>
                       
                     <a href="/users/edit">User : <%=current_user.email%></a>
                     
                  <%else%>
                     <a href="/users/sign_in"> Login </a> 
                 
                   
                  <%end%>
                </li>
                
                <li>
                    <t>________________________________</t>
                </li>

                <li>
                    <a href="/leds/new">Add new LED Panel</a>
                </li>
                
                <li>
                    <t>________________________________</t>
                </li>
                <li>
                    <a href="/screens/new">Add new Screen</a>
                </li>
                <li>
                    <t>________________________________</t>
                </li>
                <li>
                    <a href="#" class="js-calculate">Calculate LED wall</a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        

<!--list with all led wall-->

       <div class="row">

              
            <div class="col-sm-3 ledcol">
            
                 <h3><strong class="colororange">LED Panels</strong><h3><p>
                
                <ul>
                  <%if @leds.length > 0%>
                    <% @leds.each do |one_led|%>
                       <a href="/leds/<%=one_led.id%>">
                       <li class="letterlist">
                         <strong> Model: </strong><%=one_led.model%><br>
                         <strong> Brand: </strong><%=one_led.brand%>
                       </li>
                       </a><br>
                    <%end%>
                  <%end%>
                </ul>
            </div><!-- 1er column--> 

             

             <div class="col-sm-3 screencol">
            
                 <h3><strong class="colororange">Screens</strong><h3><p>
                 
                <ul>
                  <%if @screens.length > 0%>
                    <% @screens.each do |one_screen|%>
                       <a href="/screens/<%=one_screen.id%>">
                       <li class="letterlist">
                         <strong> Aspect Ratio: </strong><%=one_screen.aspectratio%><br>
                         <strong> Width: </strong><%=one_screen.width%> 
                         <strong> Height: </strong><%=one_screen.height%>
                       </li>
                       </a><br>
                    <%end%>
                  <%end%>
                </ul>
             </div><!-- 2da column--> 
            
        </div><!-- 4ta row close-->
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Sidebar Menu</a>
<!--end list with all led wall-->

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
<!--%%%%%%%%%%%%%%%%%%%%%%%%%    Open modal   %%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridModalLabel">Select your panel and one size of the screen</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-md-4 ledcol">
              
                <h3><strong class="colororange">LED Panels</strong><h3><p>
                
                <ul>
                  <%if @leds.length > 0%>
                    <% @leds.each do |one_led|%>
                       <a href="#">
                       <li class="letterlist js-ledlist" data-lediid="<%=one_led.id%>">
                         <strong> Model: </strong><%=one_led.model%><br>
                         <strong> Brand: </strong><%=one_led.brand%>
                       </li>
                       </a><br>
                    <%end%>
                  <%end%>
                </ul> 

            </div>
            <div class="col-md-4 screencol">
              <h3><strong class="colororange">Screens</strong><h3><p>

                <ul>
                  <%if @screens.length > 0%>
                    <% @screens.each do |one_screen|%>
                       <a href="#">
                        <li class="letterlist js-screenlist" data-screenid="<%=one_screen.id%>">
                         <strong> Aspect Ratio: </strong><%=one_screen.aspectratio%><br>
                         <strong> Width: </strong><%=one_screen.width%> 
                         <strong> Height: </strong><%=one_screen.height%>
                        </li>
                       </a><br>
                    <%end%>
                  <%end%>
                </ul>

            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-3">

            </div>
            <div class="col-md-2 col-md-offset-4">

            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              Level 1: .col-sm-9
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  Level 2: .col-xs-8 .col-sm-6
                </div>
                <div class="col-xs-4 col-sm-6">
                  Level 2: .col-xs-4 .col-sm-6
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
</div>






<!--%%%%%%%%%%%%%%%%%%%%%%%%%    Close modal   %%%%%%%%%%%%%%%%%%%%%%%%%%%-->



    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
