<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet"> agregue comentario 11 junio-->

    <!-- Custom CSS -->
    <!--<link href="css/simple-sidebar.css" rel="stylesheet"> agregue comentario 11 junio-->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="/"> <!--class="sidebar-brand"-->
                        LED Wall Calculator
                    </a>
                </li>
                <li>
                    <t>________________________________</t>
                </li>
                <li>

                 <%if user_signed_in?%> 
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete%></t>
                       
                     <a href="/users/edit">User : <%=current_user.email%></a>
                     
                  <%else%>
                     <a href="/users/sign_in"> Login </a> 
                 
                   
                  <%end%>
                </li>
                
                <li>
                    <t>________________________________</t>
                </li>

                <li>
                    <a href="/leds/new">Add new LED Panel</a>
                </li>
                
                <li>
                    <t>________________________________</t>
                </li>
                <li>
                    <a href="/informations">Back to MyDashboard</a>
                </li>
                
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        

<!--begin formulario new led-->

       <div class="row">
        <div class="col-sm-6 ledcolnew">
            <h3 class="colorblue">Add new LED Panel</h3>
            <%= form_for [@my_led] do |f|%>
		         <%= f.label :model%> :
				 <%= f.text_field :model, class: "form-control", placeholder: "Model"%>

				 <%= f.label :brand%> :
				 <%= f.text_field :brand, class: "form-control",placeholder: "Brand"%>
               
				 <%= f.label :Panel_Size_Width%> : <a href="#" class="js-converterpanelsizew">converter</a><!--:step => 0.01,-->
				 <%= f.number_field :panelsize_w, :step => "any",  class: "form-control js-panelsizew", placeholder: "Inches"%>
			  

				 <%= f.label :Panel_Size_Heigth%> : <a href="#" class="js-convertpanelsizeh">converter</a>
				 <%= f.number_field :panelsize_h, :step => "any", class: "form-control js-ledpanelsizeh", placeholder: " Inches"%>

			     <%= f.label :Panel_Weight%> : <a href="#" class="js-converterpanelw2">converter</a>
				 <%= f.number_field :panelweight, :step => "any", class: "form-control js-weightpanel", placeholder: "Lbs"%>

			    <%= f.label :Pixel_Matrix_Width%> :
				 <%= f.number_field :pixelmatrix_w, :step => "any", class: "form-control", placeholder: "Example: 120"%>

				 <%= f.label :Pixel_Matrix_Heigth%> :
				 <%= f.number_field :pixelmatrix_h, :step => "any", class: "form-control", placeholder: "Example: 120"%>

			     <%= f.label :Power_amp_110_V%> :
				 <%= f.number_field :poweramp110, :step => "any", class: "form-control", placeholder: "Example: 1.2"%>

			     <%= f.label :Power_amp_220_V%> :
				 <%= f.number_field :poweramp220, :step => "any", class: "form-control", placeholder: "Example: 0.8"%><br>
				 <%= f.button "Add new", class:"btn btn-primary"%>
                 <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Sidebar Menu</a>
            </div>  
                 <br>
				 
				 
             <%end%>
          
        </div><!-- 4ta row close-->

<!--end fomulario-->



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

 <!--Modal modal modal converter units-->
   <div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        
        

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    

    <!-- /#wrapper -->

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script> agregue comentario 11 junio-->


    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script> agregue comentario 11 junio-->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>




