<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="/"> <!--class="sidebar-brand"-->
                        LED Wall Calculator
                    </a>
                </li>
                <li>
                    <t>________________________________</t>
                </li>
                <li>

                 <%if user_signed_in?%> 
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete%></t>
                       
                     <a href="/users/edit">User : <%=current_user.email%></a>
                     
                  <%else%>
                     <a href="/users/sign_in"> Login </a> 
                 
                   
                  <%end%>
                </li>
                
                <li>
                    <t>________________________________</t>
                </li>

                <li>
                    <a href="/leds/<%=@one_ledpanel.id%>" data-method="PUT">UPDATE LED Panel</a>
                </li>
                 <li>
                    <t>________________________________</t>
                </li>
                <li>
                    <a href="/leds/<%=@one_ledpanel.id%>" data-confirm="Are you sure you want a DELETE this LED Panel?" data-method="DELETE">DELETE LED Panel</a>
                   
                </li>
                <li>
                    <t>________________________________</t>
                </li>

                <li>
             
                    <a href="/leds/<%=@one_ledpanel.id%>/bumpers/new" data-method="GET">Add new Bumper</a>
                   
                </li>
                
                <li>
                    <t>________________________________</t>
                </li>
                <li>
                       
                   
                <li>
                    <a href="/informations">Back to MyDashboard</a>
                </li>
                
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        

<!--begin formulario new led-->

       <div class="row">
         <div class="col-sm-4 ledcolshow">
             <h3 class="colororange">LED Panel Details</h3>
             <br>
                <ul>
                    
                       <li class="letterlistdetails1">
                         <strong class="colorblue"> Model: </strong><%=@one_ledpanel.model%><br>
                         <br>
                         <strong class="colorblue"> Brand: </strong><%=@one_ledpanel.brand%><br>
                         <br>
                         <strong class="colorblue"> Panel size Width: </strong><%=@one_ledpanel.panelsize_w%> inch<br>
                         <br>
                         <strong class="colorblue"> Panel size Heigth: </strong><%=@one_ledpanel.panelsize_h%> inch<br>
                         <br>
                         <strong class="colorblue"> Panel Weight: </strong><%=@one_ledpanel.panelweight%> lbs<br>
                         <br>
                         <strong class="colorblue"> Pixel Matrix Width: </strong><%=@one_ledpanel.pixelmatrix_w%> px <br>
                         <br>
                         <strong class="colorblue"> Pixel Matrix Heigth: </strong><%=@one_ledpanel.pixelmatrix_h%> px <br>
                         <br>
                         <strong class="colorblue"> Power AMP 110 V: </strong><%=@one_ledpanel.poweramp110%> AMP<br>
                         <br>
                         <strong class="colorblue"> Power AMP 220 V: </strong><%=@one_ledpanel.poweramp220%> AMP<br>
                         <br>
                         
                       </li>  
                  
                </ul>
      
         </div>

         <div class="col-sm-3 bumpercol">
            
                <h3 class="colororange">Bumpers<h3><p>
                
                <ul>
                  <%if @bumpers.length > 0%>
                    <% @bumpers.each do |one_bumper|%>
                       <a href="/bumpers/<%=one_bumper.id%>">
                       <li class="letterlistdetails1">
                         <strong> Description: </strong><%=one_bumper.description%><br>
                         <br>
                         <strong> Width: </strong><%=one_bumper.weight%><br>
                         <br>
                         <strong> Height: </strong><%=one_bumper.height%>
                       </li>
                       </a>
                       <br>
                       <br>
                    <%end%>
                  <%end%>
                </ul>
         </div><!-- 2er column-->
          
        </div><!-- 4ta row close-->

<!--end fomulario-->



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>




